DATABASE_URL=sqlite:///./loyalty.db
ANTHROPIC_API_KEY=
DATA_DIR=./data
ENVIRONMENT=development
CORS_ORIGINS=https://radio-hack-t-loyalty.vercel.app
GIGACHAT_CREDENTIALS=""
GIGACHAT_SCOPE="GIGACHAT_API_PERS"
